useDynLib(NarrowPeaks)
exportPattern("^[^\\.]")

importFrom(ICSNP, HotellingsT2)
import(BiocGenerics)
import(S4Vectors)
importFrom(IRanges, IRanges, as.data.frame)
importFrom(GenomeInfoDb, seqlengths, "seqlengths<-")
importFrom(GenomicRanges, GRanges)
importFrom(CSAR, LoadBinCSAR)
import(fda)



