useDynLib(NarrowPeaks)
exportPattern("^[^\\.]")

importFrom(IRanges, Rle, IRanges, as.data.frame)
importFrom(GenomeInfoDb, seqlengths, "seqlengths<-")
importFrom(GenomicRanges, GRanges)
importFrom(CSAR, LoadBinCSAR)
import(fda)



