useDynLib(NarrowPeaks)
exportPattern("^[^\\.]")

importFrom(CSAR, LoadBinCSAR)
importFrom(GenomicRanges, GRanges, seqlengths, "seqlengths<-")
importFrom(IRanges, Rle, IRanges, as.data.frame)
import(fda)



